body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin: 20px;
  border-radius: 12px;
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #38bdf8;
}
